body {
  margin: 0;
  padding: 30px 0;
  background: #f1f1f1;
  color: #555;
  font-family: helvetica, sans-serif;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3 {
  text-align: center;
  font-family: helvetica, sans-serif;
  font-weight: 300;
  margin: 0 0 30px;
  color: #5A78BB;
}

h1 {
  font-size: 28px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  color: white;
  font-weight: 300;
}

.placeholder {
  height: 1px;
}

ul {
  list-style-type: none;
  font-family: helvetica, sans-serif;
  padding-left: 0;
  margin-top: 0px;
}

ul li {
  font-size: 16px;
  line-height: 1.4;
  cursor: pointer;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  padding: 5px 10px 3px;
}

ul li:first-child {
  border-top: 1px solid #ccc;
}

ul li:nth-child(odd) {
  background: #f8f8f8;
}

.wrapper {
  width: 1188px;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 15px;
}

.row {
  margin: 0 -15px;
  position: relative;
}

.col {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.col-10 { width: 10%; }
.col-20 { width: 20%; }
.col-30 { width: 30%; }
.col-40 { width: 40%; }
.col-50 { width: 50%; }
.col-60 { width: 60%; }
.col-70 { width: 70%; }
.col-80 { width: 80%; }
.col-90 { width: 90%; }
.col-100 { width: 100%; }

.centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.graph {
  width: 832px;
  padding: 0 15px;
  position: absolute;
  left: 0;
  top: 0;
}

.sidebar {
  width: 356px;
  padding: 0 15px;
  position: absolute;
  right: 0;
  top: 0;
}

input {
  width: 100%;
}

input[type="text"] {
  height: 32px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 8px;
  margin-bottom: 0;
  color: #444;

}

input[type="submit"] {
  height: 32px;
  font-size: 18px;
  background: #5A78BB;
  color: white;
  border: none;
  border-radius: 5px;
}

#location-results {
  position: absolute;
  min-width: 26%;
}

table {
  margin: 20px 0 30px;
  background: white;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ccc;
  font-size: 14px;
}

form {
  background: #5A78BB;
  padding: 15px;
}

td:first-child {
  border-right: none;
  vertical-align: top;
  padding: 5px 5px 2px;
}

td:last-child {
  border-left: none;
  padding: 5px;
}

td h3 {
  margin: 0;
}

.icon {
  text-align: center;
}

svg {
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  margin-bottom: 30px;
  background: #fff;
}

.record-line {
  stroke: #D65511;
  stroke-width: 2px;
}

.record-text {
  fill: #D65511;
}

.normal-line {
  stroke: #54E054;
  stroke-width: 2px;
}

.normal-text {
  fill: #54E054;
}

.normal-rect {
  fill: #f4f4f4;
}

.axis path, .axis line {
  fill: none;
  stroke: #5A78BB;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

text.title,
text.label {
  font-family: helvetica;
  fill: #5A78BB;
}

.title {
  font-size: 20px;
}

.label {
  font-size: 16px;
}

.tick text {
  font-family: helvetica;
  fill: #5A78BB;
  text-transform: lowercase;
}

.line {
  fill: none;
  stroke: #5A78BB;
  stroke-width: 3px;
}